.logo {
  height: 50px;
  width: 50px;
}

nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px 0px;
  justify-content: center;
  z-index: 1;
}

.fade {
  background: linear-gradient(to right,
      rgba(0, 0, 0, 1),
      rgba(255, 0, 0, 1),
      rgba(0, 0, 0, 1));
}

.main {
  align-items: center;
  padding-top: 10px;
}