.status {
    color: white;
    width: 50%;
    margin: auto auto;
    padding: 100px;
    align-items: center;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    margin-bottom: 70px;
}

.container a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container img {
    width: 700px;
    margin-right: 5px;
    filter:
        drop-shadow(2px 0 rgb(255, 255, 255)) 
        drop-shadow(-2px 0 rgb(255, 255, 255)) 
        drop-shadow(0 2px rgb(255, 255, 255)) 
        drop-shadow(0 -2px rgb(255, 255, 255));
}

.text {
    color: rgb(255, 255, 255);
    padding: 0x;
    margin-left: 5px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.text h1 {
    font-weight: 500;
    font-size: 150px;
    line-height: 150px;
    padding: 0px;
    margin: 0px;
}

.text h2 {
    color: rgb(0, 0, 0);
    padding: 0px;
    padding-left: 5px;
    margin: 0px;
    font-size: 100px;
    line-height: 100px;
    -webkit-text-stroke: 0.1px rgb(255, 0, 0);
}

.snap-container {
    height: 100vh;
    /* full screen */
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.snap-container>div {
    scroll-snap-align: start;
    height: 100vh;
    /* each Pokémon takes full screen */
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1200px) {
    .container {
        flex-direction: column;
    }

    .text {
        margin-left: 0px;
        margin-top: 5px;
    }

    .text h1 {
        font-size: 100px;
        line-height: 100px;
    }

    .text h2 {
        font-size: 75px;
        line-height: 75px;
    }

    .container img {
        width: 500px;
        margin-right: 0px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 800px) {
    .text h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .text h2 {
        font-size: 30px;
        line-height: 30px;
    }

    .container img {
        width: 350px;
    }
}