.status {
    color: white;
    width: 50%;
    margin: auto auto;
    padding: 100px;
    align-items: center;
    text-align: center;
}

.info p {
    color: white;
}

.container {
    padding-top: 75px;
}

.pokémon {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 95%;
    margin: 75px auto 0px auto;
    padding-top: 10px;
    /* border: solid 1px white; */
}

.media {
    display: flex;
    flex-direction: column;
}

.media img {
    max-width: 500px;
    max-height: 500px;
    margin-bottom: 25px;
    filter:
        drop-shadow(2px 0 rgb(255, 255, 255))
        drop-shadow(-2px 0 rgb(255, 255, 255))
        drop-shadow(0 2px rgb(255, 255, 255))
        drop-shadow(0 -2px rgb(255, 255, 255));
}

.media audio {
    width: 500px;
}

.info {
    color: white;
    margin-left: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.info h1 {
    text-align: left;
    font-weight: 500;
    font-size: 150px;
    line-height: 150px;
    margin: 0px;
    padding: 0px;
}

.info p {
    text-align: left;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 20px 0px;
    border-bottom: solid 2.5px white;
}

.info ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-size: 35px;
    margin-top: 20px;
    justify-content: space-between;
}

.info .statList {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.aspect {
    font-size: 30px;
    line-height: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.typeBubble {
    font-size: 30px;
    line-height: 75px;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

/* #region Types' color presets */

.normal {
    background-color: #a8a77a;
}

.fire {
    background-color: #ee8130;
}

.water {
    background-color: #6390f0;
}

.grass {
    background-color: #7ac74c;
}

.electric {
    background-color: #f7d02c;
}

.ice {
    background-color: #96d9d6;
}

.fighting {
    background-color: #c22e28;
}

.poison {
    background-color: #a33ea1;
}

.ground {
    background-color: #e2bf65;
}

.flying {
    background-color: #a98ff3;
}

.psychic {
    background-color: #f95587;
}

.bug {
    background-color: #a6b91a;
}

.rock {
    background-color: #b6a136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6f35fc;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #b7b7ce;
}

.fairy {
    background-color: #d685ad;
}

/* #endregion */

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 800px) {
    .pokémon {
        flex-direction: column;
        align-items: center;
    }

    .media img {
        max-width: 450px;
        max-height: 450px;
        margin-bottom: 10px;
    }

    .media audio {
        width: 450px;
        margin-bottom: 10px;
    }

    .info {
        margin-left: 0px;
        margin-top: 15px;
    }

    .info h1 {
        text-align: center;
        font-size: 75px;
        line-height: 75px;
    }

    .info p {
        text-align: center;
        font-size: 25px;
        padding: 20px 0px;
        border-bottom: solid 2.5px white;
    }

    .info ul {
        flex-direction: column;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        margin: 10px 0px;
        justify-content: space-between;
    }

    .info li {
        margin: 10px 0px;
    }

    .aspect {
        font-size: 30px;
        line-height: 30px;
    }

    .typeBubble {
        margin: 0px 2.5px;
    }
}