.status {
    color: white;
    width: 50%;
    margin: auto auto;
    padding: 100px;
    align-items: center;
    text-align: center;
}

.info p {
    color: white;
}

.container {
    padding-top: 75px;
}

.pokémon {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 95%;
    margin: 75px auto 0px auto;
    padding-top: 10px;
}

.media {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-left: 0px;
    margin-right: 20px;
    align-items: center;
}

.media img {
    width: 700px;
    height: 700px;
    margin-bottom: 20px;
    filter:
        drop-shadow(2px 0 rgb(255, 255, 255)) drop-shadow(-2px 0 rgb(255, 255, 255)) drop-shadow(0 2px rgb(255, 255, 255)) drop-shadow(0 -2px rgb(255, 255, 255));
}

.media audio {
    width: 75%;
    height: 25px;
}

.info {
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.info h1 {
    text-align: left;
    font-weight: 500;
    font-size: 150px;
    line-height: 150px;
    margin: 0px;
    padding: 0px;
}

.info p {
    text-align: left;
    font-size: 40px;
    line-height: normal;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 20px 0px;
    border-bottom: solid 1px white;
}

.info ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 20px;
    justify-content: space-between;
}

.info .statCategory {
    font-size: 35px;
    font-weight: 300;
}

.aspect {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.typeBubble {
    display: inline-block;
    font-size: 30px;
    line-height: normal;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.info .statList {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 0px;
}

/*Place new styles here*/
.megaSection {
    width: fit-content;
    margin: 15px auto;
    padding: 10px 20px 20px 20px;
    background: hsl(0, 0%, 5%);
    border-radius: 10px;
    border: 3px solid hsl(0, 0%, 10%);
}

.megaSection h2 {
    color: white;
    text-align: center;
    margin: 0px;
    font-size: 50px;
    font-weight: 300;
    padding: 10px;
}

.megaList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.megaEntry {
    background: #000000;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    border: 1px solid hsl(0, 0%, 20%);
    transition: transform 0.2s, border-color 0.2s;
}

/* .megaEntry:hover {
    transform: scale(1.1);
    border-color: #ffffff;
} */

.megaEntry img {
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    filter:
        drop-shadow(2px 0 rgb(255, 255, 255)) drop-shadow(-2px 0 rgb(255, 255, 255)) drop-shadow(0 2px rgb(255, 255, 255)) drop-shadow(0 -2px rgb(255, 255, 255));
}

.megaEntry h3 {
    color: #ffffff;
    font-size: 50px;
    padding: 5px 0px;
    margin: 0px 0px 10px 0px;
    font-weight: 300;
}

.megaEntry audio {
    padding: 10px 0px 5px 0px;
    height: 25px;
}

.megaTypes {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

.megaTypes .typeBubble {
    margin: -10px 0px 0px 0px;
}


/* #region Types' color presets */

.normal {
    background-color: #a8a77a;
}

.fire {
    background-color: #ee8130;
}

.water {
    background-color: #6390f0;
}

.grass {
    background-color: #7ac74c;
}

.electric {
    background-color: #f7d02c;
}

.ice {
    background-color: #96d9d6;
}

.fighting {
    background-color: #c22e28;
}

.poison {
    background-color: #a33ea1;
}

.ground {
    background-color: #e2bf65;
}

.flying {
    background-color: #a98ff3;
}

.psychic {
    background-color: #f95587;
}

.bug {
    background-color: #a6b91a;
}

.rock {
    background-color: #b6a136;
}

.ghost {
    background-color: #735797;
}

.dragon {
    background-color: #6f35fc;
}

.dark {
    background-color: #705746;
}

.steel {
    background-color: #b7b7ce;
}

.fairy {
    background-color: #d685ad;
}

/* #endregion */

@media only screen and (max-width: 1200px) {
    .pokémon {
        padding: 0px;
        flex-direction: column;
        align-items: center;
    }

    .media img {
        max-width: 600px;
        max-height: 600px;
        margin-bottom: 10px;
    }

    .info {
        margin-left: 0px;
        margin-top: 10px;
    }

    .info h1 {
        text-align: center;
        font-size: 100px;
        line-height: 100px;
    }

    .info p {
        text-align: center;
        font-size: 30px;
        padding-top: 5px;
        padding-bottom: 10px;
        border-bottom: solid 1px white;
    }

    .info ul {
        justify-content: space-around;
    }

    .info .statCategory {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .aspect {
        font-size: 20px;
        line-height: 20px;
    }

    .typeBubble {
        font-size: 20px;
        line-height: 20px;
        margin: 0px;
        margin-right: 10px;
        margin-top: 10px;
    }

    .info .statList li {
        margin-bottom: 5px;
    }

    .megaSection h2 {
        font-size: 40px;
    }

    .megaEntry h3 {
        font-size: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .media img {
        max-width: 400px;
        max-height: 400px;
    }

    .info {
        width: 90%;
        margin-left: 0px;
        margin-top: 10px;
    }

    .info h1 {
        font-size: 50px;
        line-height: 50px;
    }

    .info p {
        font-size: 15px;
        padding-top: 5px;
        padding-bottom: 10px;
        border-bottom: solid 1px white;
    }

    .info ul {
        flex-direction: row;
        align-items: top;
        font-size: 20px;
        margin-top: 20px;
    }

    .info .statCategory {
        font-size: 20px;
        line-height: 20px;
        text-align: left;
        margin: 0px;
        margin-bottom: 15px;
        padding: 0px;
    }

    .aspect {
        font-size: 14px;
        line-height: 15px;
    }

    .typeBubble {
        width: fit-content;
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
        line-height: 15px;
        margin: 5px 0px;
    }

    .info .statList {
        margin-top: 5px;
    }

    .info .statList li {
        font-size: 14px;
        margin: 2.5px 0px;
    }

    .megaSection {
        max-width: 100%;
        padding: 10px 0px 10px 0px;
    }

    .megaSection h2 {
        font-size: 30px;
    }

    .megaEntry {
        max-width: 75%;
    }

    .megaEntry h3 {
        font-size: 35px;
    }

}